In [1]:
from package.formatcalculator import FormatCalculator,Mitter
import pandas as pd
# reads df from csv
df             = pd.read_csv("testfile.csv")

mitter         = FormatCalculator.generate_datamiter(df)
mitter2        = mitter.formatwise_mitter()
formateld      = Mitter.hash_str_patterns(mitter2)

In [2]:
from package.variationcalculator import VERIATIONS

veri=VERIATIONS(formateld,pd.DataFrame(columns=mitter.get_row_ordring_seq_from_dataset(df,iterlen=3)))
veri.format_keyboard_values()

,0,1,2,3,4
0,[81],"[35, 14, 7, 13]","[81, 81]","[37, 8, 11, 24]","[39, 4, 22, 90, 50, 14, 17, 10]"
1,[82],"[30, 12, 12, 0]","[81, 81]","[33, 0, 17, 15, 4, 17]","[37, 14, 18, 90, 26, 13, 6, 4, 11, 4, 18]"
2,[83],"[38, 8, 2, 7, 0, 4, 11]","[81, 81]","[37, 8, 11, 24]","[38, 0, 19, 19, 7, 4, 22]"
3,[84],"[44, 14, 15, 7, 8, 0]","[81, 81]","[33, 0, 17, 15, 4, 17]","[38, 0, 19, 19, 7, 4, 22]"
4,[85],"[48, 8, 11, 11, 8, 0, 12]","[81, 81]","[37, 8, 11, 24]","[41, 7, 8, 11, 0, 3, 4, 11, 15, 7, 8, 0]"
...,...,...,...,...,...
95,"[81, 81]","[33, 0, 17, 15, 4, 17]","[81, 84]","[33, 0, 17, 15, 4, 17]","[32, 17, 4, 4, 13, 18, 1, 14, 17, 14]"
96,"[81, 81]","[38, 0, 19, 19, 7, 4, 22]","[81, 87]","[37, 8, 11, 24]","[27, 0, 19, 14, 13, 90, 43, 14, 20, 6, 4]"
97,"[81, 81]","[33, 0, 17, 15, 4, 17]","[81, 86]","[33, 0, 17, 15, 4, 17]","[28, 7, 20, 11, 0, 90, 47, 8, 18, 19, 0]"
98,"[81, 81]","[38, 0, 19, 19, 7, 4, 22]","[81, 89]","[37, 8, 11, 24]","[35, 4, 17, 18, 4, 24, 90, 28, 8, 19, 24]"
99,"[81, 80, 80]","[28, 7, 11, 14, 4]","[81, 88]","[33, 0, 17, 15, 4, 17]","[38, 0, 19, 19, 7, 4, 22]"

In [3]:
import os

PATH = './package/'

for path, dirs, files in os.walk(PATH):
    for f in files:
        file_name, file_extension = os.path.splitext(f)
        if file_extension == '.py':
            path_name = os.path.join(path, f)
            with open(path_name, 'r') as fh:
                new = [line.rstrip() for line in fh]
            with open(path_name, 'w') as fh:
                [fh.write('%s\n' % line) for line in new]